
#comm-container{
    background: GhostWhite url("/Blog/Resources/comments-background.png") no-repeat right top;
    background-size: 10%;
    padding:2% 0;
    min-width:520px;
}

#comm-header{
    margin-left:2vw;
}

#comments-list{
   
    margin:0;
    padding: 0;
}
#comments-list li{
    list-style-type: none;
    margin :0;
    width: 50%;
    padding: 0 2% 2% 2%;
    margin-bottom: 2%;
    background-color: white;
}

#comments-list li:nth-child(odd){
    
    border-top: 1px solid gold;
    border-left: 1px solid gold;
    box-shadow: 10px 10px 5px #888888;
    float:left;
    margin-left:5vw;
}

#comments-list li:nth-child(even){
  
    border-top: 1px solid gold;
    border-right: 1px solid gold;
    box-shadow: -10px 10px 5px #888888;
    float:right;
    margin-right:5vw;
    
}

#new-comment{
    display: inline-block;
    width:40%;
    margin:10px 0px;
    padding: 0px 30px 10px 30px ;
    background-color: #ccffcc;/*#e7f3fe;*/
    border-radius:5px;
    min-width:450px;
}
.comm-title>h3{
    margin: 1em 0;
    color:navy;
    font-size: 1.2em
}
.comm-details{
    display: inline-block;
    margin: 0 1vw 2vh 0vw;
    color:DarkSeaGreen ;
}
.comm-updated{
    float:right;
}

.comm-content>p{
    height: auto;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 1.1em;
    margin-bottom: 3vh;
}

.manage-comments{
    text-align: center;
}

#new-comment h3{
    font-size: x-large;
    margin: 0.5em 0em 0.5em 0em;
}

#post-comment-container{
    text-align: right;
}

#post-comment{
    margin-right:0;
}

